<app-card>
  <div class="comment__profile">
    <app-mini-profile [profilePic]="'/avatars/image-amyrobson.webp'" [username]="comment.username"></app-mini-profile>
    <span class="comment__past-time">10 minutes ago</span>
  </div>

  <p class="comment__content">
    <span *ngIf="comment.recipient" class="comment__content__username">{{"@" + comment.recipient}}</span>
    {{ comment.body }}
  </p>

  <div class="comment__interaction">
    <app-like-button [likes]="comment.likes"></app-like-button>
    <span class="comment__interaction__reply">
      <img src="/icon-reply.svg" alt="">
      Reply</span>
  </div>
</app-card>