
@import '../../styles/_colors.sass'
@import '../../styles/_fonts.sass'

.comment-container
  display: flex
  flex-direction: column
  gap: 0.5em

.comment
  &__profile
    display: flex
    align-items: center
    gap: 0.5em

  &__content
    color: $grayish-blue
    margin-block: 1em

    &__username
      font-weight: $weight-semibold
      color: $moderate-blue

  &__interaction
    display: flex
    justify-content: space-between
    align-items: center

    &__container
      display: flex
      gap: 1em

    &__reply, &__delete
      cursor: pointer
      font-weight: $weight-semibold
      display: flex
      align-items: center
      gap: 0.5em

      img
        max-width: 1em
        max-height: 0.8em

    &__reply
      color: $moderate-blue

    &__delete
      color: $soft-red
