@import '../../styles/_colors.sass'

.button
  border: none
  padding: 0.75em 1.25em
  border-radius: 8px
  color: $white
  cursor: pointer
  text-transform: uppercase

  &--primary
    background-color: $moderate-blue

  &--secondary
    background-color: $grayish-blue

  &--danger
    background-color: $soft-red
