<section class="comments-section">
  <div *ngFor="let comment of comments$| async;">
    <app-comment [comment]="{
      id: comment.id,
      userId: comment.sender.id,
      username: comment.sender.username, 
      likes: comment.likes.length, 
      body: comment.body,
      yourComment: comment.sender.username === authenticatedUser.username}"></app-comment>

    @if (comment.responses.length > 0) {
    <div class="comments-section__replies">
      <app-comment *ngFor="let response of comment.responses;" [comment]="{
        id: comment.id,
        userId: response.sender.id,
        username: response.sender.username,  
        likes: response.likes.length, 
        body: response.body, 
        recipient: response.recipient.username, 
        yourComment: response.sender.username === authenticatedUser.username}"></app-comment>
    </div>
    }
  </div>

  <app-post-comment></app-post-comment>
</section>